body {
    font-family: 'Montserrat-';
    text-align: center;
    color: #fff;
}

#title {

    color: #fff;
    background-color: #16213E;
    text-align: left;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;

}

h2 {
    font-size: 3rem;
    font-weight: 1.5;
}

h3 {

    white-space: nowrap;
    text-overflow: clip;
}
h4{
    color: #0F3460;
}

p {
    color: #8f8f8fff;
}

/* headings */

.big-heading {

    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bold;

}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navbar */
.navbar {
    padding-bottom: 4.5rem;
    width: 115%;


}

.navbar-brand2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.main-icon {
    width: 50px;
}

.nav-item {
    padding: ;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* download-button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image {
    width: 15%;
    height: 60%;
    transform: rotate(358deg);


    position: absolute;
    left: 60%;
    border-radius: 20px;

}

/* FEATURES */
#features {
    color: black;
    padding-top: 55PX;
    padding: 7% 15%;
    position: relative;


}


.feature-box {

    padding: 4.5%;
}

.icon {
    color: #0F3460;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.apple {
    margin-right: 5px;
}

.feature-box-secondHeading {
    text-align: left;
}


.feature-img {
    margin-left: 12px;
    height: 80%;
    width: 45%;
    box-shadow: -13px -1px 23px -5px #738268;
    box-shadow: -13px -1px 23px -5px #738268;

}

/* unique-features/// */

#unique-features {
    padding-top: 55PX;
    padding: 7% 15%;
    position: relative;
}

.unique-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* video// */
.vmain{
 color: #1405e9;
 background-color: #0F3460;
    text-align: center;}
    
    
.video-text{
    width: 250px;
    position: relative;
  top: -130px;
  left: 75%;
  font-size: 15px;
  font-weight: 600;
}

.video-text1{
    width: 200px;
    color: #022525;
    position: relative;
  top: -125px;
  left: 77%;
  font-size: 12px;
  font-weight: 600;}
/* footer/ */

.insta-img {
    height: 40px;
    width: 40px;
}

/* unique-features// */

#unique-features {
    background-color: #0F3460;
}

/* some-features// */

#some-features {
    background-color: #0F3460;
    padding-top: 55PX;
    padding: 7% 15%;


}

.sou {
    margin-bottom: 8%;
}

.history-text {
    margin: 0;

    margin-top: 10px;
    float: left;
    font-size: 20px;

}

.date {
    margin-top: 8px;

}

.loc-icon {
    margin-right: 7px;

}

.turkey-loc {
    margin-right: 55%;
}

.locatoin {
    margin-right: 46%;
}

.madina-locatoin {

    margin-right: 58%;
}

.fimg {
    margin-right: 80px;
    width: 200px;
    height: 35%px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 5px 5px 31px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 5px 5px 31px 0px rgba(0, 0, 0, 0.09);
}




.menu-heading {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-right: 80px;
}

.menu-icon {
    margin-left: 60px;
}

.s-features {
    width: 300px;
    height: 60%;
    font-size: 1rem;
    margin-left: 20px;
}



/* cta// */

#cta {
    background-color: #533483;
}


/* footer// */
#footer {
    background-color: #E94560;
}